/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jan 11, 2014, 9:32:42 PM
    Author     : jojofabe
*/

.table-row-cell:empty {
    -fx-background-color: white;
}

.table-row-cell:empty .table-cell {
    -fx-border-width: 0px;
}

.list-cell:empty {
    -fx-background-color: white;
}

.list-cell:empty .list-cell {
    -fx-border-width: 0px;
}